* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  text-align: justify;
  margin-bottom: 100px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
}

.column {
  float: left;
  padding: 10px;
}

@media (min-width: 1400px) {
  .column {
    width: 25%;
  }
  h1 {
    font-size: 8em;
  }
}

@media (min-width: 800px) and (max-width: 1400px) {
  .column {
    width: 50%;
  }
  h1 {
    font-size: 5em;
  }
}

@media (max-width: 800px) {
  .column {
    width: 100%;
  }
  h1 {
    font-size: 3em;
  }
}
